<% if @event != nil%>
<%= form_for(@event, url: events_path, html: {multipart: true}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
	<% if params[:tag] %>
		<%= f.select :tags, Event::TAG_TYPES, :selected => params[:tag] %>
	<% else %>
    	<%= f.select :tags, Event::TAG_TYPES %>
	<% end %>
  </div>
  
  <div>
	  <%= f.label :image %>
      <%= f.file_field :image %><br>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
  
<% end %>
<%end%>
