
<% unless params[:search] %>
<h1>Events Library</h1>
<p><%= link_to 'New Event', new_event_path(tag: @tag) if user_signed_in?%></p>
<% else %>
<h2>Search Result</h2>
<% end %>

<ul class="thumbnails">
	<% @events.each do |event| %>
	<li class="span2">
		<div class="thumbnail">
			<h4 ><%= event.title %></h4>
			<p><%= event.description%></p>	 
			<% if event.image.present? %>
			<p><%= link_to(image_tag(event.image.url(:thumb)), event) %></p>
			<% else %>
			<p><%= link_to(image_tag("default.jpg"), event) %></p>
			<% end %>
			<p><%= "#{event.posts.count} posts" %></p>
		</div>
	</li>
	<% end %>
</ul>

<p id="notice"><%= notice %></p>




