
<% unless params[:search] %>
<p><%= link_to 'Create Your Own Event?', new_event_path(tag: @tag),class: "btn btn-default" if user_signed_in?%></p>
<% else %>
<h1>Search Result</h1>
<% end %>

<% cache(cache_key_for_event_table) do %>
	<ul class="thumbnails">
		<% @events.each do |event| %>
			<% cache(cache_key_for_event_row(event)) do %>
				<li class="span2">
					<div class="thumbnail" style="background-color: rgba(255,255,255,0.5);">
						<% if event.image.present? %>
						<p><%= link_to(image_tag(event.image.url(:medium)), event) %></p>
						<% else %>
						<p><%= link_to(image_tag("default.jpg"), event) %></p>
						<% end %>
						<p><strong><%= event.title %></strong></p>
						<p><%= "#{event.posts.count} posts" %></p>
						<hr>
						<p>
							<% if event.description.to_s.length > 200 %>
								<%= event.description.to_s[0,200] + "..."  %>
							<% else %>
								<%= event.description.to_s  %>
							<% end %>
						</p>
					</div>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<!-- <p id="notice"><%= notice %></p> -->




