<p id="notice"><%= notice %></p>

<h1>Events Library</h1>

<table>
   <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.title}", event %></td>
        <td><%= event.description %></td>
		<td><%= "#{event.posts.count} posts" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
