
<% unless params[:search] %>
<p><%= link_to 'Create Your Own Event?', new_event_path(tag: @tag),class: "btn btn-default" if user_signed_in?%></p>
<% else %>
<h1>Search Result</h1>
<% end %>

<ul class="thumbnails">
	<% @events.each do |event| %>
	<li class="span3">
		<div class="thumbnail" style="background-color: rgba(255,255,255,0.5);">
			<% if event.image.present? %>
			<p><%= link_to(image_tag(event.image.url(:medium)), event) %></p>
			<% else %>
			<p><%= link_to(image_tag("default.jpg"), event) %></p>
			<% end %>
			<p><strong><%= event.title %></strong></p>
			<!-- <a href="../tagevent/<%= event.tags%>" class="badge"><%= event.tags%></a>
			<a href="../timeline/<%= event.created_at.month%>" class="badge"><%=event.created_at.month%> </a> -->
			<p><%= "#{event.posts.count} posts" %></p>
			<hr>
			<p>z
				<% if event.description.to_s.length > 200 %>
					<%= event.description.to_s[0,200] + "..."  %>
				<% else %>
					<%= event.description.to_s  %>
				<% end %>
			</p>
		</div>
	</li>
	<% end %>
</ul>

<!-- <p id="notice"><%= notice %></p> -->




