
<% unless params[:search] %>
<p><%= link_to 'New Event', new_event_path(tag: @tag) if user_signed_in?%></p>
<% else %>
<h2>Search Result</h2>
<% end %>

<ul class="thumbnails">
	<% @events.each do |event| %>
	<li class="span3">
		<div class="thumbnail" style="background-color: rgba(255,255,255,0.5);">
			<% if event.image.present? %>
			<p><%= link_to(image_tag(event.image.url(:medium)), event) %></p>
			<% else %>
			<p><%= link_to(image_tag("default.jpg"), event) %></p>
			<% end %>
			<p><%= "#{event.posts.count} posts" %></p>
			<hr>
			<strong><%= event.title %></strong>
			<p><%= event.created_at.month%></p>
			<p><%= event.description%></p>	

		</div>
	</li>
	<% end %>
</ul>

<p id="notice"><%= notice %></p>




