<p id="notice"><%= notice %></p>










<% unless params[:search] %>
	<h1 class="sub-header">Events Library</h1>
<% else %>
	<h1 class="sub-header">Search Result</h1>
<% end %>



<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-10">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          	<div class="row">
				<% @events.each do |event| %>
            		<div class="col-xs-6 col-lg-4">
	                  <div class="thumbnail">
	                             <h4 ><%= event.title %></h4>
								 <p><%= event.description%></p>	 
								 <p><%= link_to(image_tag("http://goo.gl/0sX3jq"), event) %></p>
	                             <p><%= "#{event.posts.count} posts" %></p>
	                  </div>
            		</div><!--/.col-xs-6.col-lg-4-->
				<% end %>
          	</div><!--/row-->
       </div><!--/.col-xs-12.col-sm-10-->
   </div><!--/row-->
<br>
<%= link_to 'New Event', new_event_path(tag: @tag) if user_signed_in?%>
</div><!--/.container-->


<!-- <div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<th>Title</th>
			<th>Description</th>
			<th>Votes</th>
		</thead>
		<tbody>
			<% @events.each do |event| %>
			<tr>
        		<td><%= link_to "#{event.title}", event %></td>
        		<td><%= event.description %></td>
				<td><%= "#{event.posts.count} posts" %></td>
      		</tr>
    	 	<% end %>
  	  	</tbody>
	</table>
</div> -->



