<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
		  <div class="container">
		  <div class="row">
						<div class="col-xs-6 col-sm-4">
			             	<h1><%= @event.title %></h1>
			             	<p><%= @event.description %></p>
						    <p> <%= "Created at #{@event.created_at}" %></p>
							<br>
							<p><%= link_to "Post to this event", controller: "posts", action: "new", post: {event_id: @event.id}%></p>
						</div>
						<div class="col-xs-6 col-sm-5">
							 <% if @event.image.exists? %>
								<p><%= image_tag(@event.image.url)%></p>
							<% end %>
						</div>
		  </div>
	     </div>
		 <hr>
          <div class="row">
			<% @posts.each do |post|%> 
            <div class="col-xs-6 col-lg-3">
				<div class="thumbnail">
					<p><%= link_to "#{post.text_content}", post%></p>
					<P><%= "#{post.vote_count} votes"%></p>
					 <% if post.image.exists? %>
					 	<p><%= link_to(image_tag(post.image.url(:medium)), post) %></p>
					<% else %>
						<p><%= link_to(image_tag("default.jpg"), post) %></p>
					<% end %>
					
					<% unless user_signed_in? %>
	            		<p>cannot vote</p>
					<% else %>
	            		<%= button_to "vote", post, action: "vote", params: {click_page: 'event_show'}%>
	        		<% end %>
		  	  </div>
            </div><!--/.col-xs-6.col-lg-4-->
			<% end %>
        </div><!--/row-->
		<p><button onclick="window.history.back()">Back</button></p>
</div><!--/.col-xs-12.col-sm-9-->




