
<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p> <%= "Created at #{@event.created_at}" %></p>
<p><%= link_to "Post to this event", controller: "posts", action: "new", post: {event_id: @event.id}%></p>
<% if @event.image.present? %>
<p><%= image_tag(@event.image.url(:medium))%></p>
<% end %>

<ul class="thumbnails">
	<% @posts.each do |post|%> 
	<li class="span2">
		<div class="thumbnail">
			<p><%= link_to "#{post.text_content}", post%></p>
			<P><%= "#{post.vote_count} votes"%></p>
			<% if post.image.present? %>
			<p><%= link_to(image_tag(post.image.url(:medium)), post) %></p>
			<% else %>
			<p><%= link_to(image_tag("default.jpg"), post) %></p>
			<% end %>

			<% unless user_signed_in? %>
			<p>cannot vote</p>
			<% else %>
			<%= button_to "vote", post, action: "vote", params: {click_page: 'event_show'}%>
			<% end %>
		</div>
	</li>
	<% end %>
</ul>
<p><button onclick="window.history.back()">Back</button></p>

<p id="notice"><%= notice %></p>




