<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @event.tags %>
</p>

<!-- <%= link_to 'Edit', edit_event_path(@event) %> | -->

<%= link_to "Post to this event", controller: "posts", action: "new", post: {event_id: @event.id}%>


<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<th>Post content</th>
			<th>Current vote</th>
		</thead>
		<% @posts.each do |post|%>
		<tr>
			<td><%= link_to "#{post.text_content}", post%></td>
			<td><%= post.vote_count%></td>
			<td>
        <% unless user_signed_in? %>
          <p>cannot vote</p>
        <% else %>
          <%= button_to "vote", post, action: "vote", params: {voter: current_user, click_page: 'event_show'}%>
        <% end %>
      </td>
		</tr>
		<% end %>
	</table>
</div>

<%= link_to 'Back', events_path %>


