<h1><%= @event.title %></h1>
				<!-- <p><a href="../tagevent/<%=@event.tags%>" class="badge"><%= @event.tags %> </a></p> -->
<p> <%= "Created at #{@event.created_at}" %></p>
<p><%= @event.description %></p>
<% if user_signed_in? %>
<p><%= link_to "Post to this event", {controller: "posts", action: "new", post: {event_id: @event.id}},:class => "btn btn-default"%></p>
<% end %>
<p id="notice"><%= notice %></p>
<hr>

	<ul class="thumbnails">
		<% @posts.each do |post|%> 
				<li class="span2">
					<div class="thumbnail">
						<p><%=post.text_content%></p>
						<p><%= "#{post.vote_count} votes"%></p>
						<% if post.image.present? %>
						<p><%= link_to(image_tag(post.image.url), post) %></p>
						<% else %>
						<p><%= link_to(image_tag("default.jpg"), post) %></p>
						<% end %>
						<hr>
						<div style="text-align:center;">
							<% unless user_signed_in? %>
							<p>cannot vote</p>
							<% else %>
							<%= button_to post, action: "vote", params: {click_page: 'event_show'}, class: "btn btn-default" do %>
							Vote <i class="glyphicon glyphicon-thumbs-up"></i>
							<% end %>
							<% end %>
						</div>
					</div>
				</li>
		<% end %>
	</ul>
	
	<br>
		<%= will_paginate @posts, :class =>"pager", :page_links => false %>
<!-- <p><button onclick="window.history.back()">Back</button></p> -->

				
				
				
				
				
				
			
			
			
	
		



