<p id="notice"><%= notice %></p>

<h1 class="sub-header">Events organized by me</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Title</th>
			<th>Create Time</th>
			<th>Total posts</th>
			<th>Total vosts</th>
        </thead>
        <tbody>
            <% @organized_events.each do |event| %>
            <tr>
                <td><%= link_to "#{event.title}", event%></td>
				<td><%= event.created_at%></td>
				<td><%= event.posts.count%></td>
				<td><%= event.posts.map {|post| post.vote_count}.sum%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="sidebar">
			<ul class="nav nav-sidebar">
            	<li><a href="/profile/events">Event</a></li>
            	<li><a href="/profile/posts">Post</a></li>
				<li><a href="/profile/votes">Vote</a></li>
            	<li><a href="/users/edit">Edit</a></li>
          	</ul>
		</div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<%= yield %>
		</div>	
	</div>
</div>


