<p id="notice"><%= notice %></p>

<h1 class="sub-header">Events organized by me</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Title</th>
			<th>Create Time</th>
			<th>Total posts</th>
			<th>Total vosts</th>
        </thead>
        <tbody>
            <% @organized_events.each do |event| %>
            <tr>
                <td><%= link_to "#{event.title}", event%></td>
				<td><%= event.created_at%></td>
				<td><%= event.posts.count%></td>
				<td><%= event.posts.map {|post| post.vote_count}.sum%></td>
				<td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
