<%if @post != nil%>
<%= form_for(@post, url: posts_path, html: {multipart: true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    On Event:
    <%= @target_event.title %>
    <%= f.hidden_field :event_id, value: @target_event.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :text_content %><br>
    <%= f.text_area :text_content %>
  </div>
  <div>
	  <%= f.label :image %>
      <%= f.file_field :image %><br>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
<% end %>
