<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= collection_select(:event, :event_id, Event.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :text_content %><br>
    <%= f.text_area :text_content %>
  </div>
  <div class="field">
    <%= f.label :vote_count %><br>
    <%= f.number_field :vote_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
