<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @post.event.title %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @post.text_content %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @post.vote_count %>
</p>

<p>
  <strong>Post at:</strong>
  <%= @post.created_at %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
