<p id="notice"><%= notice %></p>


<div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
		  <div class = "container">
			  	<div class="row">
					<div class="col-xs-6 col-sm-4">
		             	<h1><%= @post.event.title %></h1>
		             	<p><%= @post.text_content %></p>
					    <p><%= "#{@post.vote_count} votes" %></p>
					    <p> <%= "Created at #{@post.created_at}" %></p>
						<br>
		   		  	    <% unless user_signed_in? %>
		   		         <p>cannot vote</p>
		   		       <% else %>
		   		        <%= button_to "vote", action: "vote", params: {click_page: 'post_show'}%>
		   		       <% end %>
					</div>
					<div class="col-xs-6 col-sm-6">
						 <% if @post.image.exists? %>
							<p><%= image_tag(@post.image.url)%></p>
						<% end %>
					</div>
				</div>
  		  <p>
  		  <% if @post.creaters.include?(current_user)%>
  		  	<%= link_to 'Want to Edit the post?', edit_post_path(@post) %>
  		  <% end %>
  		  </p>
  		  <p><button onclick="window.history.back()">Back</button></p>
		  </div>

		 
		 <!--/.col-xs-12.col-sm-9-->
</div>


<!-- <p>
  <strong>Event:</strong>
  <%= @post.event.title %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @post.text_content %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @post.vote_count %>
</p>

<p>
  <strong>Post at:</strong>
  <%= @post.created_at %>
</p>

<% unless user_signed_in? %>
  <p>cannot vote</p>
<% else %>
  <%= button_to "vote", action: "vote", params: {click_page: 'post_show'}%>
<% end %>

<br>
<% if @post.creaters.include?(current_user)%>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<button onclick="window.history.back()">Back</button> -->

