<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @post.event.title %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @post.text_content %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @post.vote_count %>
</p>

<p>
  <strong>Post at:</strong>
  <%= @post.created_at %>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Voters</th>
        </thead>
        <tbody>
            <% @voters.each do |voter| %>
            <tr>
                <td><%= voter.email %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% unless user_signed_in? %>
  <p>not signed in, cannot vote</p>
<% else %>
  <%= button_to "vote", action: "vote", params: {click_page: 'post_show'}%>
<% end %>

<br>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', event_path(@post.event) %>
