<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @post.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @post.text_content %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @post.vote_count %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
