<div class="edito span12">
        <div class="row">
               	<h1><%= @post.event.title %></h1>
				<p> <%= "Created at #{@post.created_at}" %></p>
				<p><%= @post.text_content %></p>
				<p><%= "#{@post.vote_count} votes" %></p>
				
				<% unless user_signed_in? %>
				<p>cannot vote</p>
				<% else %>
				<%= button_to "vote", {action: "vote", params: {click_page: 'post_show'}},class: "btn btn-default"%>
				<% end %>
				<% if @post.image.present? %>
					<div class="thumbnail pull-left margin-rb"><%= image_tag(@post.image.url(:medium))%></div>
				<% end %>
		</div>
		<p>
		  <% if @post.creaters.include?(current_user)%>
		  <%= link_to 'Want to Edit the post?', edit_post_path(@post) %>
		  <% end %>
		</p>
</div>





<!--<p><button onclick="window.history.back()">Back</button></p>

<p id="notice"><%= notice %></p> -->