<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @post.event.title %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @post.text_content %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @post.vote_count %>
</p>

<p>
  <strong>Post at:</strong>
  <%= @post.created_at %>
</p>

<% unless user_signed_in? %>
  <p>cannot vote</p>
<% else %>
  <%= button_to "vote", action: "vote", params: {click_page: 'post_show'}%>
<% end %>

<br>
<% if @post.creaters.include?(current_user)%>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', event_path(@post.event) %>
