<!DOCTYPE html>
<html>
<head>
  <title>Fantastic4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>

  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/dashboard.css' %>
  
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    	<span class="sr-only">Toggle navigation</span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
		    	<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Fantastic Events</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
  	        	<li><a href="/">Homepage</a></li>
				<% if user_signed_in? %>
  	            <li><a href="/profile">Profile</a></li>
				<% end %>
  	        </ul>
          
            <% unless user_signed_in? %>
				<p class="navbar-text"><b>Cannot Vote? Please</b></p>
                <%= link_to "Login", new_user_session_path, :id => "login-btn", 
                    :class => "btn btn-default navbar-btn", :method => :get %>
                <%= link_to "Sign up", new_user_registration_path, :id => "sign-up-btn",
                    :class => "btn btn-default navbar-btn", :method => :get %>
            <% else %>
                <%= link_to "Logout", destroy_user_session_path, :id => "sign-up-btn",
                    :class => "btn btn-default navbar-btn", :method => :delete %>
                <p class="navbar-text"><b><a href="/profile"><%= current_user.email %></a></b></p>
            <% end %>
			
			<!-- Search -->
			<%= form_tag(events_path, method: "get", class:"navbar-form navbar-right", id:"search-form") do%>
			<%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search.."%>
			<% end %>
		</div> 
	</div>
</nav>

<!-- <div class="jumbotron">
      <div class="container">
        <h1>Post and Vote for Event</h1>
        <p>Create an event-based online polling platform that allow users to share, vote and discover interesting things.</p>
      </div>
</div>  -->


<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
		  
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas">
			<ul class="nav nav-sidebar">
          		<li><a href="/">All Events</a></li>
				<li><%= link_to "School", events_path(:tag => 'School')%><li>
          		<li><%= link_to "Movie", events_path(:tag => 'Movie')%><li>
          		<li><%= link_to "Music", events_path(:tag => 'Music')%><li>
				<li><%= link_to "Reading", events_path(:tag => 'Reading')%><li>
				<li><%= link_to "Health", events_path(:tag => 'Health') %><li>
        	</ul>
        </div><!--/.sidebar-offcanvas-->
        <div class="col-xs-12 col-sm-10">
			<%= yield %>
		</div>
      <hr>
</div><!--/.container-->





<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-sidebar">
            	<li class="active"><a href="/">All Events</a></li>
				<li><%= link_to "School", events_path(:tag => 'School')%><li>
            	<li><%= link_to "Movie", events_path(:tag => 'Movie')%><li>
            	<li><%= link_to "Music", events_path(:tag => 'Music')%><li>
				<li><%= link_to "Reading", events_path(:tag => 'Reading')%><li>
				<li><%= link_to "Health", events_path(:tag => 'Health') %><li>
          	</ul>
		</div>

		<div class="col-md-10">
			<div class="container">
			     <div class="row">
					 <div class = "col-md-3">
		                  <div class="thumbnail">
		                      <div class="caption">
		                          <h4 class="pull-left">All events</h4>
		                          <p></p>
		                      </div>
							  <a href="/">
								  <img src="http://goo.gl/0sX3jq">
		                       </a>
		                  </div>
		                  <div class="thumbnail">
		                      <div class="caption">
		                          <h4 class="pull-left">School</h4>
		                          <p></p>
		                      </div>
							   <%= link_to(image_tag("http://goo.gl/0sX3jq"), events_path(:tag => 'School')) %>
		                  </div>
		            </div>
					 <div class = "col-md-3">
		                  <div class="thumbnail">
		                       <div class="caption">
		                           <h4 class="pull-left">Movie</h4>
		                           <p></p>
		                       </div>
		 					   <%= link_to(image_tag("http://goo.gl/0sX3jq"), events_path(:tag => 'Movie')) %>
		                  </div>
		                  <div class="thumbnail">
		                         <div class="caption">
		                             <h4 class="pull-left">Music</h4>
		                             <p></p>
		                         </div>
		   					   	 <%= link_to(image_tag("http://goo.gl/0sX3jq"), events_path(:tag => 'Music')) %>
		                  </div>
		            </div>
					 <div class = "col-md-3">
		                  <div class="thumbnail">
		                      <div class="caption">
		                          <h4 class="pull-left">Reading</h4>
		                          <p></p>
		                      </div>
							   <%= link_to(image_tag("http://goo.gl/0sX3jq"), events_path(:tag => 'Reading')) %>
		                  </div>
		                  <div class="thumbnail">
		                         <div class="caption">
		                             <h4 class="pull-left">Health</h4>
		                             <p></p>
		                         </div>
		   					   <%= link_to(image_tag("http://goo.gl/0sX3jq"), events_path(:tag => 'Health')) %>
		                  </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div> -->

</body>
</html>
