<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wbpreview.com/previews/WB001HJ32/ by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 16 May 2013 15:15:59 GMT -->
<head>
  <meta charset="utf-8">
  <title>Fantastic4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Le styles -->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
        </head>
        <body>
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span3" id="left-side">
                <h1 class="logo"><a href="/">Fantastic4</a></h1>
                <!-- Search -->
                <p>
                <%= form_tag(events_path, method: "get", class:"navbar-form navbar-right", id:"search-form") do%>
                <%= text_field_tag :search, params[:search], class: "form-control",placeholder: "Search.."%>
                <% end %>
                </p>
                
                <% unless user_signed_in? %>
                <p><b>Cannot Vote? Please</b></p>
                <ul>
                <li><%= link_to "Login", new_user_session_path, :method => :get %></li>
                <li><%= link_to "Sign up", new_user_registration_path, :method => :get %></li>
                </ul>
                <% else %>
                <h2><%= current_user.email %></h2>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                
                <% end %>
                
                <% if user_signed_in? %>
                <h2>Profile</h2>
                <!-- <li><a href="/profile">Profile</a></li> -->
                <ul>
                  <li><a href="/profile/events">Event</a></li>
                  <li><a href="/profile/posts">Post</a></li>
                  <li><a href="/profile/votes">Vote</a></li>
                  <li><a href="/users/edit">Edit</a></li>
                </ul>
                <% end %>

                <h2>Tags</h2>
                <div class="row">
                  <div class="span3">
                      <a href="/" class="badge badge-info"><i class="icon-tag icon-white"></i>All Events</a>
                      <%= link_to events_path(:tag => 'School'), class: "badge badge-info" do %>
                        <i class="icon-tag icon-white"></i> School
                      <% end %>
                      <%= link_to events_path(:tag => 'Movie'), class: "badge badge-info" do %>
                        <i class="icon-tag icon-white"></i> Movie
                      <% end %>
                      <%= link_to events_path(:tag => 'Music'), class: "badge badge-info" do %>
                        <i class="icon-tag icon-white"></i> Music
                      <% end %>
                      <%= link_to events_path(:tag => 'Reading'), class: "badge badge-info" do %>
                        <i class="icon-tag icon-white"></i> Reading
                      <% end %>
                      <%= link_to events_path(:tag => 'Health'), class: "badge badge-info" do %>
                        <i class="icon-tag icon-white"></i> Health
                      <% end %>

                    <!-- <a href="index-2.html" class="badge badge-info"><i class="icon-tag icon-white"></i> iPhone</a>
                    <a href="index-2.html" class="badge badge-inverse"><i class="icon-tag icon-white"></i>  iPad</a>
                    <a href="index-2.html" class="badge badge-success"><i class="icon-tag icon-white"></i> hml5</a>
                    <a href="index-2.html" class="badge badge-warning"><i class="icon-tag icon-white"></i> chrome</a>
                    <a href="index-2.html" class="badge"><i class="icon-tag icon-white"></i>  css</a>
                    <a href="index-2.html" class="badge"><i class="icon-tag icon-white"></i>  Bootstrap</a> -->
                  </div>
                </div>
              </div>
              <div class="span9" id="main">
                <%= yield %>

              </div>
            </div>
          </div>
          <footer>
            <hr/>
            <div class="row">
              <div class="span12">
                <p>Fantastic 4 </p>
                <p>&COPY; 2015</p>
              </div>
            </div>
          </footer>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application" %>

      </body>

      </html>
